/* line 2, /Users/kknight/Sites/tility/app/assets/stylesheets/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4 */
body {
  margin: 0;
  padding: 0;
}
